openapi: 3.0.3
info:
  title: 채팅 서비스 API
  description: |
    채팅 서비스의 RESTful API 명세서입니다.
    
    ## 관련 문서
    - [SRS 문서](./srs.md) - 요구사항 명세서
    - [ERD 문서](./erd.md) - 데이터베이스 스키마
    - [WebSocket Events 문서](./websocket-events.md) - Socket.IO 이벤트 명세

    ## 주요 기능
    - 채팅방 관리 (생성, 조회, 나가기)
    - 메시지 조회 (전송은 Socket.IO)
    - 공지 설정/해제
    - 푸시 알림 설정
    - 안전 기능 (신고, 차단)
    - 이미지 업로드 (Presigned URL)
    - 관리자 기능 (백오피스)

    ## 인증
    모든 API는 Bearer Token 인증을 사용합니다.
    ```
    Authorization: Bearer {access_token}
    ```
    JWT 토큰은 문토 백엔드 또는 데이팅 백엔드에서 발급받습니다.

    ## 실시간 통신
    메시지 전송/수신, 읽음 처리, 입력 중 표시 등 실시간 기능은 Socket.IO를 사용합니다.
    ```
    wss://chat-server.munto.kr/?token={access_token}
    ```
    상세 이벤트는 [WebSocket Events 문서](./websocket-events.md)를 참조하세요.

    ## 에러 코드
    - 400: Bad Request - 잘못된 요청
    - 401: Unauthorized - 인증 실패
    - 403: Forbidden - 권한 없음
    - 404: Not Found - 리소스 없음
    - 429: Too Many Requests - 요청 제한 초과 (Rate Limit)
    - 500: Internal Server Error - 서버 오류

    ## 시간 형식
    모든 시간 필드는 Unix time milliseconds를 사용합니다.

  version: 1.0.0
  contact:
    name: 문토 개발팀
    email: dev@munto.kr
  license:
    name: Private

servers:
  - url: https://chat.api.munto.kr/api/v1
    description: Production server
  - url: https://chat-dev.api.munto.kr/api/v1
    description: Development server
  - url: http://localhost:3000/api/v1
    description: Local development server

tags:
  - name: Chat Rooms
    description: 채팅방 관리 API
  - name: Messages
    description: 메시지 조회 API (전송은 Socket.IO)
  - name: Announcements
    description: 공지사항 관리 API
  - name: Notifications
    description: 푸시 알림 설정 API
  - name: Safety
    description: 안전 기능 API (신고, 차단)
  - name: Upload
    description: 이미지 업로드 API
  - name: Admin
    description: 관리자 기능 API (백오피스)

paths:
  # ================================
  # 채팅방 관리 API
  # ================================
  /rooms:
    get:
      tags: [Chat Rooms]
      summary: 채팅방 목록 조회
      description: |
        사용자가 참여한 채팅방 목록을 조회합니다. (SRS 7.2.2 참조)
        
        **필터링:**
        - 만료된 채팅방 제외 (EXPIRED)
        - 나간 채팅방 제외 (LEFT)
        
        **정렬:**
        - 최근 메시지 시간(`lastMessageAt`) 기준 내림차순
        - 메시지가 없으면 생성 시간(`createdAt`) 기준
        
        **참고:** 실시간 업데이트는 Socket.IO `chat_list`, `chat_list_updated` 이벤트로 수신
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/CursorAfter'
        - $ref: '#/components/parameters/CursorBefore'
        - $ref: '#/components/parameters/Count'
      responses:
        '200':
          description: 채팅방 목록 조회 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatRoomListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'

    post:
      tags: [Chat Rooms]
      summary: 채팅방 생성
      description: |
        채팅방을 생성합니다. (SRS 7.2.1 참조)
        
        **호출 주체:** 문토 백엔드 또는 데이팅 백엔드 (서버 간 통신)
        
        **채팅방 유형별 생성:**
        - **그룹 (GROUP):** 소셜링/클럽/챌린지 생성 시 문토 백엔드에서 호출
        - **DM:** 사용자가 DM 전송 시도 시 문토 백엔드에서 호출
        - **데이팅 DM (DATING_DM):** 친구 신청 수락 시 데이팅 백엔드에서 호출
        
        **자동 처리:**
        - 관리자(문토봇) 자동 추가
        - 호스트/참여자 자동 추가
        
        **멱등성 보장:**
        - 동일한 조건(socialingId, clubId, matchId, 사용자 조합 등)으로 재요청 시 기존 채팅방 반환
        - 네트워크 타임아웃 후 재시도해도 중복 생성되지 않음
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRoomRequest'
      responses:
        '201':
          description: 채팅방 신규 생성 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateRoomResponse'
              example:
                roomId: 12345
                roomType: GROUP
                name: "소셜링 채팅방"
                participantCount: 5
                createdAt: 1704067200000
        '200':
          description: 기존 채팅방 반환 (멱등성 - 동일 조건으로 이미 생성된 채팅방 존재)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateRoomResponse'
              example:
                roomId: 12345
                roomType: GROUP
                name: "소셜링 채팅방"
                participantCount: 5
                createdAt: 1704067200000
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /rooms/{roomId}:
    get:
      tags: [Chat Rooms]
      summary: 채팅방 상세 정보 조회
      description: |
        채팅방 진입 시 표시되는 상세 정보를 조회합니다. (SRS 7.2.3 참조)
        
        **포함 정보:**
        - 채팅방 기본 정보 (ID, 제목, 타입)
        - 참여자 수
        - 마지막 메시지 정보
        - 데이팅 DM: 활성화 여부, 남은 일수, 만료 시간
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/RoomId'
      responses:
        '200':
          description: 채팅방 정보 조회 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatRoomDetailResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

    patch:
      tags: [Chat Rooms]
      summary: 채팅방 상태 변경
      description: |
        채팅방 상태를 변경합니다. (SRS 7.2.1.3 참조)
        
        **호출 주체:** 데이팅 백엔드 (서버 간 통신)
        
        **상태 변경:**
        - `CREATED` → `ACTIVATED`: 사용자가 재화 차감하여 채팅방 활성화
        - `ACTIVATED` → `EXPIRED`: 만료 시간 경과 (배치 또는 수동)
        
        **활성화 시 처리:**
        - `activatedAt` 설정
        - `chatExpiresAt` = `activatedAt` + 30일
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/RoomId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateRoomStatusRequest'
      responses:
        '200':
          description: 상태 변경 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatRoomDetailResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

    delete:
      tags: [Chat Rooms]
      summary: 채팅방 나가기
      description: |
        채팅방에서 나갑니다. (SRS 7.2.4 참조)
        
        **문토 채팅방:**
        - 사용자만 채팅방에서 제외
        - 다른 참여자는 계속 사용 가능
        
        **데이팅 DM:**
        - 채팅방 상태가 `LEFT`로 변경
        - 양쪽 모두 나가도 DB에 이력으로 남음
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/RoomId'
      responses:
        '200':
          description: 채팅방 나가기 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /rooms/{roomId}/participants:
    get:
      tags: [Chat Rooms]
      summary: 채팅방 참여자 목록 조회
      description: |
        채팅방에 참여한 모든 사용자 목록을 조회합니다. (SRS 7.2.5 참조)
        
        **참여자 정보:**
        - 사용자 ID, 닉네임, 프로필 사진
        - 역할 (HOST, MANAGER, MEMBER, ADMINISTRATOR)
        
        **정렬:** 역할 우선 (HOST > MANAGER > MEMBER), 참여 시간 순
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/RoomId'
      responses:
        '200':
          description: 참여자 목록 조회 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParticipantListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

    post:
      tags: [Chat Rooms]
      summary: 참여자 추가
      description: |
        채팅방에 참여자를 추가합니다. (SRS 7.2.1.1 참조)
        
        **호출 주체:** 문토 백엔드 (서버 간 통신)
        
        **사용 시점:**
        - 사용자가 소셜링/클럽/챌린지에 참여할 때
        - 문토 백엔드에서 모임 참여 처리 후 채팅 서버에 요청
        
        **자동 처리:**
        - Socket.IO Room에 자동 Join
        - 기존 참여자들에게 입장 알림 전송
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/RoomId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddParticipantRequest'
      responses:
        '201':
          description: 참여자 추가 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /rooms/{roomId}/participants/{userId}:
    delete:
      tags: [Chat Rooms]
      summary: 참여자 제거
      description: |
        채팅방에서 참여자를 제거합니다. (SRS 7.2.1.1 참조)
        
        **호출 주체:** 문토 백엔드 (서버 간 통신)
        
        **사용 시점:**
        - 사용자가 소셜링/클럽/챌린지에서 나갈 때
        - 호스트/매니저가 참여자를 강퇴할 때
        
        **자동 처리:**
        - Socket.IO Room에서 Leave
        - 남은 참여자들에게 퇴장 알림 전송
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/RoomId'
        - name: userId
          in: path
          required: true
          schema:
            type: integer
          description: 제거할 사용자 ID
      responses:
        '200':
          description: 참여자 제거 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /rooms/{roomId}/images:
    get:
      tags: [Chat Rooms]
      summary: 채팅방 사진 모아보기
      description: |
        채팅방에서 전송된 모든 이미지를 조회합니다. (SRS 7.2.6 참조)
        
        **특징:**
        - 모아보내기 메시지의 이미지도 개별 항목으로 펼침
        - 최신 이미지부터 내림차순 정렬
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/RoomId'
        - $ref: '#/components/parameters/CursorAfter'
        - $ref: '#/components/parameters/CursorBefore'
        - $ref: '#/components/parameters/Count'
      responses:
        '200':
          description: 이미지 목록 조회 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /rooms/unread-count:
    get:
      tags: [Chat Rooms]
      summary: 전체 안읽은 메시지 수 조회
      description: |
        사용자의 모든 채팅방에서 안읽은 메시지 총 개수를 조회합니다.
        
        **사용 시점:**
        - 앱 실행 시 뱃지 카운트 표시
        - 소켓 재연결 후 동기화
        
        **반환 값:**
        - 전체 안읽은 메시지 수
        - 채팅방별 안읽은 메시지 수 (선택)
      security:
        - BearerAuth: []
      responses:
        '200':
          description: 조회 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnreadCountResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'

  # ================================
  # 메시지 API
  # ================================
  /rooms/{roomId}/messages:
    get:
      tags: [Messages]
      summary: 메시지 목록 조회
      description: |
        채팅방의 메시지 목록을 조회합니다. (SRS 7.3 참조)
        
        **페이지네이션:**
        - 커서 기반 (messageId 사용)
        - 최신 메시지부터 내림차순
        
        **메시지 타입:**
        - TEXT: 텍스트 메시지
        - IMAGE: 이미지 메시지 (배열)
        - SYSTEM: 시스템 메시지
        - CHALLENGE_CHECKIN: 챌린지 체크인 (향후)
        - FEED: 클럽 피드 (향후)
        - POLL: 클럽 투표 (향후)
        
        **참고:** 메시지 전송은 Socket.IO `send_message` 이벤트 사용
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/RoomId'
        - $ref: '#/components/parameters/CursorAfter'
        - $ref: '#/components/parameters/CursorBefore'
        - $ref: '#/components/parameters/Count'
      responses:
        '200':
          description: 메시지 목록 조회 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  # ================================
  # 공지사항 API
  # ================================
  /rooms/{roomId}/announcements:
    get:
      tags: [Announcements]
      summary: 공지 목록 조회
      description: |
        채팅방의 공지사항 목록을 조회합니다. (SRS 7.2.7 참조)
        
        **정렬:** 최신 공지부터 내림차순
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/RoomId'
        - $ref: '#/components/parameters/CursorAfter'
        - $ref: '#/components/parameters/CursorBefore'
        - $ref: '#/components/parameters/Count'
      responses:
        '200':
          description: 공지 목록 조회 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnnouncementListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /rooms/{roomId}/messages/{messageId}/announcement:
    post:
      tags: [Announcements]
      summary: 공지 설정
      description: |
        메시지를 공지로 설정합니다. (SRS 7.3.5 참조)
        
        **권한:** HOST, MANAGER만 가능
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/RoomId'
        - $ref: '#/components/parameters/MessageId'
      responses:
        '200':
          description: 공지 설정 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

    delete:
      tags: [Announcements]
      summary: 공지 해제
      description: |
        메시지의 공지 설정을 해제합니다. (SRS 7.3.5 참조)
        
        **권한:** HOST, MANAGER만 가능
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/RoomId'
        - $ref: '#/components/parameters/MessageId'
      responses:
        '200':
          description: 공지 해제 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  # ================================
  # 푸시 알림 설정 API
  # ================================
  /rooms/{roomId}/notifications:
    get:
      tags: [Notifications]
      summary: 채팅방 알림 설정 조회
      description: |
        채팅방별 알림 설정을 조회합니다. (SRS 7.5.3 참조)
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/RoomId'
      responses:
        '200':
          description: 알림 설정 조회 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoomNotificationSettingResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

    patch:
      tags: [Notifications]
      summary: 채팅방 알림 설정 변경
      description: |
        채팅방별 알림 설정을 변경합니다. (SRS 7.5.3 참조)
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/RoomId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateRoomNotificationRequest'
      responses:
        '200':
          description: 알림 설정 변경 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoomNotificationSettingResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  # ================================
  # 안전 기능 API
  # ================================
  /reports:
    post:
      tags: [Safety]
      summary: 신고하기
      description: |
        메시지 또는 사용자를 신고합니다. (SRS 7.6.3 참조)
        
        **신고 사유:**
        - SPAM: 스팸/광고
        - PROFANITY: 욕설
        - SEXUAL_CONTENT: 성적 표현
        - HARASSMENT: 괴롭힘
        - OTHER: 기타
        
        **자동 신고:**
        - 외부 링크 포함 메시지는 서버에서 자동 신고 처리
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateReportRequest'
      responses:
        '201':
          description: 신고 접수 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /blocks:
    get:
      tags: [Safety]
      summary: 차단 목록 조회
      description: |
        내가 차단한 사용자 목록을 조회합니다. (SRS 7.6.4 참조)
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/CursorAfter'
        - $ref: '#/components/parameters/CursorBefore'
        - $ref: '#/components/parameters/Count'
      responses:
        '200':
          description: 차단 목록 조회 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'

    post:
      tags: [Safety]
      summary: 사용자 차단
      description: |
        사용자를 차단합니다. (SRS 7.6.4 참조)
        
        **차단 효과:**
        - 차단된 사용자와의 모든 채팅방에서 나가기 처리
        - 차단된 사용자와의 새 채팅방 생성 방지
        - 차단 사실은 상대방에게 알리지 않음
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBlockRequest'
      responses:
        '201':
          description: 차단 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /blocks/{blockedUserId}:
    delete:
      tags: [Safety]
      summary: 차단 해제
      description: |
        사용자 차단을 해제합니다. (SRS 7.6.4 참조)
        
        **참고:** 차단 해제해도 기존 채팅방은 복구되지 않음
      security:
        - BearerAuth: []
      parameters:
        - name: blockedUserId
          in: path
          required: true
          schema:
            type: integer
          description: 차단 해제할 사용자 ID
      responses:
        '200':
          description: 차단 해제 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  # ================================
  # 이미지 업로드 API
  # ================================
  /upload/presigned-url:
    post:
      tags: [Upload]
      summary: 이미지 업로드 Presigned URL 발급
      description: |
        S3 이미지 업로드를 위한 Presigned URL을 발급합니다. (SRS 7.3.2 참조)
        
        **업로드 제한:**
        - 이미지당 최대 10MB
        - 한 번에 최대 10개 URL 발급 가능
        - 지원 형식: JPEG, PNG, GIF, WebP
        
        **업로드 흐름:**
        1. 이 API로 Presigned URL 발급
        2. 클라이언트에서 S3에 직접 업로드
        3. 업로드 완료 후 Socket.IO로 메시지 전송
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PresignedUrlRequest'
      responses:
        '200':
          description: Presigned URL 발급 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PresignedUrlResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'

  # ================================
  # 관리자 API (백오피스)
  # ================================
  /admin/rooms:
    get:
      tags: [Admin]
      summary: 채팅방 목록 조회 (관리자)
      description: |
        모든 채팅방 목록을 조회합니다. (SRS 7.8 참조)
        
        **필터:**
        - roomType: 채팅방 유형
        - roomStatus: 채팅방 상태 (데이팅 DM)
        - createdAfter/createdBefore: 생성일 범위
      security:
        - BearerAuth: []
      parameters:
        - name: roomType
          in: query
          schema:
            type: string
            enum: [GROUP, DM, DATING_DM]
          description: 채팅방 유형 필터
        - name: roomStatus
          in: query
          schema:
            type: string
            enum: [CREATED, ACTIVATED, EXPIRED, LEFT]
          description: 채팅방 상태 필터 (데이팅 DM)
        - name: createdAfter
          in: query
          schema:
            type: integer
            format: int64
          description: 생성일 시작 (Unix time ms)
        - name: createdBefore
          in: query
          schema:
            type: integer
            format: int64
          description: 생성일 종료 (Unix time ms)
        - $ref: '#/components/parameters/CursorAfter'
        - $ref: '#/components/parameters/CursorBefore'
        - $ref: '#/components/parameters/Count'
      responses:
        '200':
          description: 채팅방 목록 조회 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminRoomListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /admin/rooms/{roomId}:
    get:
      tags: [Admin]
      summary: 채팅방 상세 조회 (관리자)
      description: |
        채팅방 상세 정보를 조회합니다. (SRS 7.8 참조)
        
        **포함 정보:**
        - 채팅방 기본 정보
        - 참여자 목록
        - 통계 (메시지 수, 활성 사용자 등)
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/RoomId'
      responses:
        '200':
          description: 채팅방 상세 조회 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminRoomDetailResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /admin/rooms/{roomId}/messages:
    get:
      tags: [Admin]
      summary: 채팅방 메시지 조회 (관리자)
      description: |
        채팅방의 메시지를 조회합니다. (SRS 7.8 참조)
        
        **특징:**
        - 블라인드 처리된 메시지도 원문 조회 가능
        - 삭제된 메시지도 조회 가능
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/RoomId'
        - $ref: '#/components/parameters/CursorAfter'
        - $ref: '#/components/parameters/CursorBefore'
        - $ref: '#/components/parameters/Count'
      responses:
        '200':
          description: 메시지 조회 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminMessageListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /admin/reports:
    get:
      tags: [Admin]
      summary: 신고 목록 조회
      description: |
        신고 목록을 조회합니다. (SRS 7.8.1 참조)
        
        **필터:**
        - status: 처리 상태
        - isAuto: 자동 신고 여부
        - reportType: 신고 사유
      security:
        - BearerAuth: []
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [PENDING, REVIEWING, RESOLVED, REJECTED]
          description: 처리 상태 필터
        - name: isAuto
          in: query
          schema:
            type: boolean
          description: 자동 신고 여부 필터
        - name: reportType
          in: query
          schema:
            type: string
            enum: [SPAM, PROFANITY, SEXUAL_CONTENT, HARASSMENT, EXTERNAL_LINK, OTHER]
          description: 신고 사유 필터
        - $ref: '#/components/parameters/CursorAfter'
        - $ref: '#/components/parameters/CursorBefore'
        - $ref: '#/components/parameters/Count'
      responses:
        '200':
          description: 신고 목록 조회 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminReportListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /admin/reports/{reportId}:
    get:
      tags: [Admin]
      summary: 신고 상세 조회
      description: |
        신고 상세 정보를 조회합니다. (SRS 7.8.1 참조)
      security:
        - BearerAuth: []
      parameters:
        - name: reportId
          in: path
          required: true
          schema:
            type: integer
          description: 신고 ID
      responses:
        '200':
          description: 신고 상세 조회 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminReportDetailResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

    patch:
      tags: [Admin]
      summary: 신고 처리
      description: |
        신고를 처리합니다. (SRS 7.8.1 참조)
        
        **처리 상태:**
        - REVIEWING: 검토 중
        - RESOLVED: 처리 완료
        - REJECTED: 반려
      security:
        - BearerAuth: []
      parameters:
        - name: reportId
          in: path
          required: true
          schema:
            type: integer
          description: 신고 ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateReportStatusRequest'
      responses:
        '200':
          description: 신고 처리 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /admin/profanity:
    get:
      tags: [Admin]
      summary: 금칙어 목록 조회
      description: |
        금칙어 목록을 조회합니다. (SRS 7.8.4 참조)
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/CursorAfter'
        - $ref: '#/components/parameters/CursorBefore'
        - $ref: '#/components/parameters/Count'
      responses:
        '200':
          description: 금칙어 목록 조회 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfanityListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'

    post:
      tags: [Admin]
      summary: 금칙어 추가
      description: |
        금칙어를 추가합니다. (SRS 7.8.4 참조)
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProfanityRequest'
      responses:
        '201':
          description: 금칙어 추가 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfanityResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /admin/profanity/{profanityId}:
    patch:
      tags: [Admin]
      summary: 금칙어 수정
      description: |
        금칙어를 수정합니다. (SRS 7.8.4 참조)
      security:
        - BearerAuth: []
      parameters:
        - name: profanityId
          in: path
          required: true
          schema:
            type: integer
          description: 금칙어 ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProfanityRequest'
      responses:
        '200':
          description: 금칙어 수정 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfanityResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

    delete:
      tags: [Admin]
      summary: 금칙어 삭제
      description: |
        금칙어를 삭제합니다. (SRS 7.8.4 참조)
      security:
        - BearerAuth: []
      parameters:
        - name: profanityId
          in: path
          required: true
          schema:
            type: integer
          description: 금칙어 ID
      responses:
        '200':
          description: 금칙어 삭제 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

# ================================
# Components
# ================================
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 문토/데이팅 백엔드에서 발급받은 JWT 토큰

  parameters:
    RoomId:
      name: roomId
      in: path
      required: true
      schema:
        type: integer
      description: 채팅방 ID

    MessageId:
      name: messageId
      in: path
      required: true
      schema:
        type: integer
      description: 메시지 ID

    CursorAfter:
      name: after
      in: query
      schema:
        type: string
      description: 커서 기반 페이지네이션 - 다음 페이지 커서

    CursorBefore:
      name: before
      in: query
      schema:
        type: string
      description: 커서 기반 페이지네이션 - 이전 페이지 커서

    Count:
      name: count
      in: query
      schema:
        type: integer
        default: 20
        minimum: 1
        maximum: 100
      description: 한 페이지당 항목 수

  responses:
    BadRequest:
      description: 잘못된 요청
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    Unauthorized:
      description: 인증 실패
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    Forbidden:
      description: 권한 없음
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    NotFound:
      description: 리소스 없음
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    InternalServerError:
      description: 서버 오류
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

  schemas:
    # ================================
    # 공통 스키마
    # ================================
    SuccessResponse:
      type: object
      required: [success, message]
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
          example: "요청이 성공적으로 처리되었습니다."

    ErrorResponse:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [code, message]
          properties:
            code:
              type: string
              example: "UNAUTHORIZED"
            message:
              type: string
              example: "인증이 필요합니다."

    PaginationMeta:
      type: object
      properties:
        hasNext:
          type: boolean
          description: 다음 페이지 존재 여부
        hasPrevious:
          type: boolean
          description: 이전 페이지 존재 여부
        nextCursor:
          type: string
          nullable: true
          description: 다음 페이지 커서
        previousCursor:
          type: string
          nullable: true
          description: 이전 페이지 커서

    # ================================
    # 사용자 스키마
    # ================================
    UserSummary:
      type: object
      required: [userId, nickname]
      properties:
        userId:
          type: integer
          example: 123
        nickname:
          type: string
          example: "문토유저"
        profilePhotoUrl:
          type: string
          nullable: true
          example: "https://s3.../profile.jpg"

    Participant:
      allOf:
        - $ref: '#/components/schemas/UserSummary'
        - type: object
          required: [role, joinedAt]
          properties:
            role:
              type: string
              enum: [HOST, MANAGER, MEMBER, ADMINISTRATOR]
              description: 참여자 역할
            joinedAt:
              type: integer
              format: int64
              description: 참여 시간 (Unix time ms)
              example: 1704067200000

    # ================================
    # 채팅방 스키마
    # ================================
    ChatRoomSummary:
      type: object
      required: [roomId, roomType, name, unreadCount]
      properties:
        roomId:
          type: integer
          example: 1
        roomType:
          type: string
          enum: [GROUP, DM, DATING_DM]
        name:
          type: string
          example: "1월 북클럽 모임"
        thumbnailUrl:
          type: string
          nullable: true
        unreadCount:
          type: integer
          example: 3
        lastMessage:
          $ref: '#/components/schemas/LastMessage'
        # 그룹 채팅방
        socialingId:
          type: integer
          nullable: true
        clubId:
          type: integer
          nullable: true
        challengeId:
          type: integer
          nullable: true
        # DM 채팅방
        otherUser:
          $ref: '#/components/schemas/UserSummary'
        # 데이팅 DM
        matchId:
          type: integer
          nullable: true
        roomStatus:
          type: string
          enum: [CREATED, ACTIVATED, EXPIRED, LEFT]
          nullable: true
        chatExpiresAt:
          type: integer
          format: int64
          nullable: true
          description: 채팅 만료 시간 (Unix time ms)

    LastMessage:
      type: object
      nullable: true
      properties:
        content:
          type: string
          example: "안녕하세요!"
          description: 메시지 내용 (이미지면 "사진")
        type:
          type: string
          enum: [TEXT, IMAGE, SYSTEM]
        sentAt:
          type: integer
          format: int64
          description: 전송 시간 (Unix time ms)
        sender:
          $ref: '#/components/schemas/UserSummary'

    ChatRoomListResponse:
      type: object
      required: [rooms, meta]
      properties:
        rooms:
          type: array
          items:
            $ref: '#/components/schemas/ChatRoomSummary'
        meta:
          $ref: '#/components/schemas/PaginationMeta'

    ChatRoomDetailResponse:
      type: object
      required: [roomId, roomType, name, participantCount, createdAt]
      properties:
        roomId:
          type: integer
        roomType:
          type: string
          enum: [GROUP, DM, DATING_DM]
        name:
          type: string
        participantCount:
          type: integer
        createdAt:
          type: integer
          format: int64
          description: 생성 시간 (Unix time ms)
        lastMessage:
          $ref: '#/components/schemas/LastMessage'
        # 그룹 채팅방
        socialingId:
          type: integer
          nullable: true
        clubId:
          type: integer
          nullable: true
        challengeId:
          type: integer
          nullable: true
        # DM 채팅방
        otherUser:
          $ref: '#/components/schemas/UserSummary'
        # 데이팅 DM
        matchId:
          type: integer
          nullable: true
        roomStatus:
          type: string
          enum: [CREATED, ACTIVATED, EXPIRED, LEFT]
          nullable: true
        activatedAt:
          type: integer
          format: int64
          nullable: true
          description: 활성화 시간 (Unix time ms)
        chatExpiresAt:
          type: integer
          format: int64
          nullable: true
          description: 채팅 만료 시간 (Unix time ms)
        remainingDays:
          type: integer
          nullable: true
          description: 만료까지 남은 일수

    ParticipantListResponse:
      type: object
      required: [participants]
      properties:
        participants:
          type: array
          items:
            $ref: '#/components/schemas/Participant'

    # ================================
    # 메시지 스키마
    # ================================
    Message:
      type: object
      required: [id, roomId, type, content, sender, sentAt, isAnnouncement, isBlinded]
      properties:
        id:
          type: integer
        roomId:
          type: integer
        type:
          type: string
          enum: [TEXT, IMAGE, SYSTEM, CHALLENGE_CHECKIN, FEED, POLL]
        content:
          oneOf:
            - type: string
            - type: array
              items:
                type: string
            - type: object
          description: |
            메시지 내용
            - TEXT: 문자열
            - IMAGE: URL 배열
            - SYSTEM: 객체
            - CHALLENGE_CHECKIN/FEED/POLL: 객체
        sender:
          $ref: '#/components/schemas/UserSummary'
        sentAt:
          type: integer
          format: int64
          description: 전송 시간 (Unix time ms)
        isAnnouncement:
          type: boolean
        isBlinded:
          type: boolean
        unreadCount:
          type: integer
          description: 이 메시지를 안 읽은 사람 수

    MessageListResponse:
      type: object
      required: [messages, meta]
      properties:
        messages:
          type: array
          items:
            $ref: '#/components/schemas/Message'
        meta:
          $ref: '#/components/schemas/PaginationMeta'

    # ================================
    # 이미지 스키마
    # ================================
    ImageItem:
      type: object
      required: [imageUrl, messageId, sentAt, sender]
      properties:
        imageUrl:
          type: string
          description: 이미지 URL
        thumbnailUrl:
          type: string
          description: 썸네일 URL
        messageId:
          type: integer
          description: 원본 메시지 ID
        sentAt:
          type: integer
          format: int64
          description: 전송 시간 (Unix time ms)
        sender:
          $ref: '#/components/schemas/UserSummary'

    ImageListResponse:
      type: object
      required: [images, meta]
      properties:
        images:
          type: array
          items:
            $ref: '#/components/schemas/ImageItem'
        meta:
          $ref: '#/components/schemas/PaginationMeta'

    # ================================
    # 공지사항 스키마
    # ================================
    Announcement:
      type: object
      required: [messageId, content, type, setBy, setAt]
      properties:
        messageId:
          type: integer
        content:
          oneOf:
            - type: string
            - type: array
              items:
                type: string
        type:
          type: string
          enum: [TEXT, IMAGE]
        setBy:
          $ref: '#/components/schemas/UserSummary'
        setAt:
          type: integer
          format: int64
          description: 공지 설정 시간 (Unix time ms)

    AnnouncementListResponse:
      type: object
      required: [announcements, meta]
      properties:
        announcements:
          type: array
          items:
            $ref: '#/components/schemas/Announcement'
        meta:
          $ref: '#/components/schemas/PaginationMeta'

    # ================================
    # 알림 설정 스키마
    # ================================
    RoomNotificationSettingResponse:
      type: object
      required: [roomId, enabled]
      properties:
        roomId:
          type: integer
        enabled:
          type: boolean
          description: 알림 켜기/끄기

    UpdateRoomNotificationRequest:
      type: object
      required: [enabled]
      properties:
        enabled:
          type: boolean
          description: 알림 켜기/끄기

    # ================================
    # 신고 스키마
    # ================================
    CreateReportRequest:
      type: object
      required: [targetType, targetId, reportType]
      properties:
        targetType:
          type: string
          enum: [MESSAGE, USER]
          description: 신고 대상 타입
        targetId:
          type: integer
          description: 신고 대상 ID (메시지 ID 또는 사용자 ID)
        reportType:
          type: string
          enum: [SPAM, PROFANITY, SEXUAL_CONTENT, HARASSMENT, OTHER]
        reason:
          type: string
          maxLength: 500
          description: 상세 사유 (선택)
        evidenceUrls:
          type: array
          items:
            type: string
          maxItems: 5
          description: 증거 이미지 URL (최대 5개)

    ReportResponse:
      type: object
      required: [reportId, reportNumber, status, createdAt]
      properties:
        reportId:
          type: integer
        reportNumber:
          type: string
          example: "RPT-20240101-001"
          description: 접수 번호
        status:
          type: string
          enum: [PENDING, REVIEWING, RESOLVED, REJECTED]
        createdAt:
          type: integer
          format: int64
          description: 접수 시간 (Unix time ms)

    # ================================
    # 차단 스키마
    # ================================
    CreateBlockRequest:
      type: object
      required: [blockedUserId]
      properties:
        blockedUserId:
          type: integer
          description: 차단할 사용자 ID

    BlockedUser:
      type: object
      required: [blockedUser, blockedAt]
      properties:
        blockedUser:
          $ref: '#/components/schemas/UserSummary'
        blockedAt:
          type: integer
          format: int64
          description: 차단 시간 (Unix time ms)

    BlockListResponse:
      type: object
      required: [blocks, meta]
      properties:
        blocks:
          type: array
          items:
            $ref: '#/components/schemas/BlockedUser'
        meta:
          $ref: '#/components/schemas/PaginationMeta'

    # ================================
    # 업로드 스키마
    # ================================
    PresignedUrlRequest:
      type: object
      required: [files]
      properties:
        files:
          type: array
          items:
            type: object
            required: [filename, contentType]
            properties:
              filename:
                type: string
                example: "image1.jpg"
              contentType:
                type: string
                enum: [image/jpeg, image/png, image/gif, image/webp, image/heic]
          minItems: 1
          maxItems: 10
          description: 업로드할 파일 정보 (최대 10개)

    PresignedUrlResponse:
      type: object
      required: [urls]
      properties:
        urls:
          type: array
          items:
            type: object
            required: [uploadUrl, imageUrl]
            properties:
              uploadUrl:
                type: string
                description: S3 업로드용 Presigned URL
              imageUrl:
                type: string
                description: 업로드 완료 후 접근 가능한 이미지 URL

    # ================================
    # 관리자 스키마
    # ================================
    AdminReportSummary:
      type: object
      required: [reportId, reportNumber, targetType, reportType, status, isAuto, createdAt]
      properties:
        reportId:
          type: integer
        reportNumber:
          type: string
        targetType:
          type: string
          enum: [MESSAGE, USER]
        reportType:
          type: string
          enum: [SPAM, PROFANITY, SEXUAL_CONTENT, HARASSMENT, EXTERNAL_LINK, OTHER]
        status:
          type: string
          enum: [PENDING, REVIEWING, RESOLVED, REJECTED]
        isAuto:
          type: boolean
          description: 자동 신고 여부
        reporter:
          $ref: '#/components/schemas/UserSummary'
        createdAt:
          type: integer
          format: int64

    AdminReportListResponse:
      type: object
      required: [reports, meta]
      properties:
        reports:
          type: array
          items:
            $ref: '#/components/schemas/AdminReportSummary'
        meta:
          $ref: '#/components/schemas/PaginationMeta'

    AdminReportDetailResponse:
      allOf:
        - $ref: '#/components/schemas/AdminReportSummary'
        - type: object
          properties:
            targetId:
              type: integer
            reason:
              type: string
              nullable: true
            evidenceUrls:
              type: array
              items:
                type: string
            reviewedAt:
              type: integer
              format: int64
              nullable: true
            resolvedAt:
              type: integer
              format: int64
              nullable: true

    UpdateReportStatusRequest:
      type: object
      required: [status]
      properties:
        status:
          type: string
          enum: [REVIEWING, RESOLVED, REJECTED]

    # ================================
    # 금칙어 스키마
    # ================================
    Profanity:
      type: object
      required: [id, word, matchType, caseSensitive]
      properties:
        id:
          type: integer
        word:
          type: string
        matchType:
          type: string
          enum: [PARTIAL, EXACT]
          description: 일치 타입 (부분/완전)
        caseSensitive:
          type: boolean
          description: 대소문자 구분

    ProfanityListResponse:
      type: object
      required: [profanities, meta]
      properties:
        profanities:
          type: array
          items:
            $ref: '#/components/schemas/Profanity'
        meta:
          $ref: '#/components/schemas/PaginationMeta'

    CreateProfanityRequest:
      type: object
      required: [word]
      properties:
        word:
          type: string
          maxLength: 255
        matchType:
          type: string
          enum: [PARTIAL, EXACT]
          default: PARTIAL
        caseSensitive:
          type: boolean
          default: false

    UpdateProfanityRequest:
      type: object
      properties:
        word:
          type: string
          maxLength: 255
        matchType:
          type: string
          enum: [PARTIAL, EXACT]
        caseSensitive:
          type: boolean

    ProfanityResponse:
      $ref: '#/components/schemas/Profanity'

    # ================================
    # 채팅방 생성/관리 스키마
    # ================================
    CreateRoomRequest:
      type: object
      required: [roomType, participants]
      properties:
        roomType:
          type: string
          enum: [GROUP, DM, DATING_DM]
          description: 채팅방 유형
        name:
          type: string
          maxLength: 100
          description: 채팅방 이름 (그룹 채팅방 필수)
        participants:
          type: array
          items:
            type: object
            required: [userId]
            properties:
              userId:
                type: integer
              role:
                type: string
                enum: [HOST, MANAGER, MEMBER]
                default: MEMBER
          minItems: 1
          description: 초기 참여자 목록
        # 그룹 채팅방
        socialingId:
          type: integer
          nullable: true
          description: 소셜링 ID (소셜링 채팅방)
        clubId:
          type: integer
          nullable: true
          description: 클럽 ID (클럽 채팅방)
        challengeId:
          type: integer
          nullable: true
          description: 챌린지 ID (챌린지 채팅방)
        # 데이팅 DM
        matchId:
          type: integer
          nullable: true
          description: 매칭 ID (데이팅 DM)
        chatExpiresAt:
          type: integer
          format: int64
          nullable: true
          description: 채팅 만료 시간 (데이팅 DM, Unix time ms)

    CreateRoomResponse:
      type: object
      required: [roomId, roomType, createdAt]
      properties:
        roomId:
          type: integer
          description: 채팅방 ID
        roomType:
          type: string
          enum: [GROUP, DM, DATING_DM]
        name:
          type: string
        participantCount:
          type: integer
        createdAt:
          type: integer
          format: int64
          description: 생성 시간 (Unix time ms)
        roomStatus:
          type: string
          enum: [CREATED, ACTIVATED]
          nullable: true
          description: 채팅방 상태 (데이팅 DM)

    AddParticipantRequest:
      type: object
      required: [userId]
      properties:
        userId:
          type: integer
          description: 추가할 사용자 ID
        role:
          type: string
          enum: [HOST, MANAGER, MEMBER]
          default: MEMBER
          description: 참여자 역할

    UpdateRoomStatusRequest:
      type: object
      required: [status]
      properties:
        status:
          type: string
          enum: [ACTIVATED, EXPIRED]
          description: 변경할 상태

    UnreadCountResponse:
      type: object
      required: [totalUnreadCount]
      properties:
        totalUnreadCount:
          type: integer
          description: 전체 안읽은 메시지 수
        rooms:
          type: array
          items:
            type: object
            properties:
              roomId:
                type: integer
              unreadCount:
                type: integer
          description: 채팅방별 안읽은 메시지 수 (선택)

    # ================================
    # 관리자 채팅 조회 스키마
    # ================================
    AdminRoomListResponse:
      type: object
      required: [rooms, meta]
      properties:
        rooms:
          type: array
          items:
            $ref: '#/components/schemas/AdminRoomSummary'
        meta:
          $ref: '#/components/schemas/PaginationMeta'

    AdminRoomSummary:
      type: object
      required: [roomId, roomType, participantCount, messageCount, createdAt]
      properties:
        roomId:
          type: integer
        roomType:
          type: string
          enum: [GROUP, DM, DATING_DM]
        name:
          type: string
          nullable: true
        participantCount:
          type: integer
        messageCount:
          type: integer
          description: 총 메시지 수
        roomStatus:
          type: string
          enum: [CREATED, ACTIVATED, EXPIRED, LEFT]
          nullable: true
        createdAt:
          type: integer
          format: int64

    AdminRoomDetailResponse:
      allOf:
        - $ref: '#/components/schemas/AdminRoomSummary'
        - type: object
          properties:
            participants:
              type: array
              items:
                $ref: '#/components/schemas/Participant'
            lastMessageAt:
              type: integer
              format: int64
              nullable: true
            # 그룹 채팅방
            socialingId:
              type: integer
              nullable: true
            clubId:
              type: integer
              nullable: true
            challengeId:
              type: integer
              nullable: true
            # 데이팅 DM
            matchId:
              type: integer
              nullable: true
            activatedAt:
              type: integer
              format: int64
              nullable: true
            chatExpiresAt:
              type: integer
              format: int64
              nullable: true

    AdminMessageListResponse:
      type: object
      required: [messages, meta]
      properties:
        messages:
          type: array
          items:
            $ref: '#/components/schemas/AdminMessage'
        meta:
          $ref: '#/components/schemas/PaginationMeta'

    AdminMessage:
      allOf:
        - $ref: '#/components/schemas/Message'
        - type: object
          properties:
            originalContent:
              oneOf:
                - type: string
                - type: array
                  items:
                    type: string
              description: 블라인드 처리 전 원본 내용
            blindedAt:
              type: integer
              format: int64
              nullable: true
              description: 블라인드 처리 시간
            blindReason:
              type: string
              nullable: true
              description: 블라인드 사유
