openapi: 3.0.3
info:
  title: 채팅 서비스 API
  description: |
    채팅 서비스의 RESTful API 명세서입니다.
    
    ## 관련 문서
    - [SRS 문서](./srs.md) - 요구사항 명세서
    - [ERD 문서](./erd.md) - 데이터베이스 스키마
    - [Socket.IO Events 문서](./socket-events.md) - Socket.IO 이벤트 명세

    ## 주요 기능
    - 채팅방 관리 (생성, 조회, 나가기)
    - 메시지 조회 (전송은 Socket.IO)
    - 공지 설정/해제
    - 푸시 알림 설정
    - 안전 기능: 신고·차단 모두 각 앱 백엔드(데이팅 / 문토)가 소유 — 채팅 서버 API 아님 (차단은 이벤트 기반 강제만)
    - 이미지 업로드 (Presigned URL)
    - 관리자 기능 (백오피스)

    ## 전환 단계(V1~V4) 활성화 — 추적용 태그 (SRS 2.7)
    API는 단계별로 쪼개 만들지 않고 V1~V4 전체를 미리 설계하되, 각 엔드포인트가 어느 단계에서 활성·필수가 되는지를 **각 endpoint의 `summary` 끝에 단계 태그**로 표기한다.
    - 표기 규칙: 7장과 동일하게 **태그가 없으면 V1**(데이팅 DM 개통 필수). V2 이후 활성 엔드포인트만 `[V2+]`/`[V3]`/`[V4]`로 표기한다.
    - **V1 (태그 없음)**: 채팅방 조회/생성(DM)/나가기/참여자/사진/공지, 메시지 조회, 이미지 업로드, 푸시 알림 설정, 관리자(채팅 조회·모니터링·블라인드·메시지 삭제·감사로그). 신고·차단은 앱 백엔드 소유
    - **[V2+]**: 관리자 메시지 검색·금칙어 관리. 델타 동기화 `sync` 엔드포인트는 V2 설계 시 추가 예정(현재 미포함)
    - **[V3]/[V4]**: 그룹 채팅방 생성(소셜링=V3 / 클럽·챌린지=V4). 특수 기능(인증·투표 등) 데이터는 문토 백엔드 소유
    - 단계별 백오피스 기능 범위는 SRS 7.8 태그 참조

    ## 호출 주체 구분 (`x-audience`)
    각 엔드포인트에 호출 주체를 `x-audience`로 표기한다(SDK·BE 팀 경계 혼동 방지).
    - `backend`: **서버-투-서버 전용** (문토/데이팅 백엔드가 호출) — 채팅방 생성, 참여자 추가/제거, 채팅방 상태 변경
    - `client`: 앱(SDK)이 호출 — 목록·메시지 조회, 설정, 업로드 등 (태그 없으면 client). 신고·차단은 앱 백엔드 직접 호출(채팅 서버 경유 X)
    - `admin`: 백오피스(AdminAuth) — `/admin/*`

    ## 인증
    모든 API는 Bearer Token 인증을 사용합니다.
    ```
    Authorization: Bearer {access_token}
    ```
    JWT 토큰은 문토 백엔드 또는 데이팅 백엔드에서 발급받습니다.

    ## 실시간 통신
    메시지 전송/수신, 읽음 처리, 입력 중 표시 등 실시간 기능은 Socket.IO를 사용합니다.
    ```
    wss://chat-server.munto.kr/?token={access_token}
    ```
    상세 이벤트는 [Socket.IO Events 문서](./socket-events.md)를 참조하세요.

    ## 에러 코드
    - 400: Bad Request - 잘못된 요청
    - 401: Unauthorized - 인증 실패
    - 403: Forbidden - 권한 없음
    - 404: Not Found - 리소스 없음
    - 429: Too Many Requests - 요청 제한 초과 (Rate Limit)
    - 500: Internal Server Error - 서버 오류

    ## 시간 형식
    모든 시간 필드는 Unix time milliseconds를 사용합니다.

  version: 1.0.0
  contact:
    name: 문토 개발팀
    email: dev@munto.kr
  license:
    name: Private

servers:
  - url: https://chat.api.munto.kr/api/v1
    description: Production server
  - url: https://chat-dev.api.munto.kr/api/v1
    description: Development server
  - url: http://localhost:3000/api/v1
    description: Local development server

tags:
  - name: Chat Rooms
    description: 채팅방 관리 API
  - name: Messages
    description: 메시지 조회 API (전송은 Socket.IO)
  - name: Announcements
    description: 공지사항 관리 API
  - name: Notifications
    description: 푸시 알림 설정 API
  - name: Upload
    description: 이미지 업로드 API
  - name: Admin
    description: 관리자 기능 API (백오피스). 모든 `/admin/*`는 `AdminAuth`(UserGrade.ADMIN) 필요, 권한 미달 시 403

paths:
  # ================================
  # 채팅방 관리 API
  # ================================
  /rooms:
    get:
      tags: [Chat Rooms]
      summary: 채팅방 목록 조회
      description: |
        사용자가 참여한 채팅방 목록을 조회합니다. (SRS 7.2.2 참조)
        
        **기본 필터링(항상 적용):**
        - 만료된 채팅방 제외 (EXPIRED)
        - 나간 채팅방 제외 (LEFT)
        
        **선택 필터(`type` 쿼리):**
        - 생략 시 전체 유형 반환
        - `GROUP`(그룹: 소셜링/클럽/챌린지) / `DM`(문토 DM) / `DATING_DM`(데이팅 DM) 중 하나로 필터
        - DM 탭(문토 DM + 데이팅 DM)처럼 묶어 보려면 클라이언트에서 두 유형을 합치거나 다중 호출
        
        **그룹 세부 필터(`moimType` 쿼리, 그룹 한정):**
        - `type=GROUP`일 때 모임 종류로 추가 필터: `SOCIALING` / `CLUB` / `CHALLENGE`
        - 서버는 채팅방의 `moimType` 컬럼으로 판별
        - 그룹 채팅은 V3~(소셜링=V3, 클럽·챌린지=V4)이므로 V1·V2에선 결과 없음
        
        **정렬:**
        - 최근 메시지 시간(`lastMessageAt`) 기준 내림차순
        - 메시지가 없으면 생성 시간(`createdAt`) 기준
        
        **참고:** 실시간 업데이트는 Socket.IO `chat_list`, `chat_list_updated` 이벤트로 수신
      security:
        - BearerAuth: []
      parameters:
        - name: type
          in: query
          required: false
          description: 채팅방 유형 필터 (생략 시 전체). `chat_room_type` enum
          schema:
            $ref: '#/components/schemas/ChatRoomType'
        - name: moimType
          in: query
          required: false
          description: 그룹 세부 모임 종류 필터 (type=GROUP일 때 의미 있음, 생략 시 그룹 전체). 그룹은 V3~
          schema:
            $ref: '#/components/schemas/MoimType'
        - $ref: '#/components/parameters/CursorAfter'
        - $ref: '#/components/parameters/CursorBefore'
        - $ref: '#/components/parameters/Count'
      responses:
        '200':
          description: 채팅방 목록 조회 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatRoomListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'

    post:
      tags: [Chat Rooms]
      summary: 채팅방 생성 (DM=V1, 그룹 채팅방 생성은 [V3 소셜링 / V4 클럽·챌린지])
      x-audience: backend   # 서버-투-서버 (문토/데이팅 백엔드가 호출)
      description: |
        채팅방을 생성합니다. (SRS 7.2.1 참조)
        
        **채팅방 유형별 호출 주체:** 모든 유형이 백엔드에서 채팅 서버로 호출합니다 (서버 간 통신)
        - **그룹 (GROUP):** 소셜링/클럽/챌린지 생성 시 문토 백엔드에서 호출
        - **DM:** 사용자가 상대방에게 DM 전송 시도 시 문토 백엔드에서 호출
        - **데이팅 DM (DATING_DM):** 친구 신청 수락 시 데이팅 백엔드에서 호출
        
        **자동 처리:**
        - 관리자(문토봇) 자동 추가
        - 호스트/참여자 자동 추가
        
        **멱등성 보장:**
        - 동일한 조건((moimType, moimId), matchId, 사용자 조합 등)으로 재요청 시 기존 채팅방 반환
        - 네트워크 타임아웃 후 재시도해도 중복 생성되지 않음
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRoomRequest'
      responses:
        '201':
          description: 채팅방 신규 생성 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateRoomResponse'
              example:
                roomId: 12345
                roomType: GROUP
                name: "소셜링 채팅방"
                participantCount: 5
                createdAt: 1704067200000
        '200':
          description: 기존 채팅방 반환 (멱등성 - 동일 조건으로 이미 생성된 채팅방 존재)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateRoomResponse'
              example:
                roomId: 12345
                roomType: GROUP
                name: "소셜링 채팅방"
                participantCount: 5
                createdAt: 1704067200000
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /rooms/{roomId}:
    get:
      tags: [Chat Rooms]
      summary: 채팅방 상세 정보 조회
      description: |
        채팅방 진입 시 표시되는 상세 정보를 조회합니다. (SRS 7.2.3 참조)
        
        **포함 정보:**
        - 채팅방 기본 정보 (ID, 제목, 타입)
        - 참여자 수
        - 마지막 메시지 정보
        - 데이팅 DM: 활성화 여부, 남은 일수, 만료 시간
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/RoomId'
      responses:
        '200':
          description: 채팅방 정보 조회 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatRoomDetailResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

    patch:
      tags: [Chat Rooms]
      summary: 채팅방 상태 변경
      x-audience: backend   # 서버-투-서버 (데이팅 백엔드: 결제 후 활성화 등)
      description: |
        채팅방 상태를 변경합니다. (SRS 7.2.1.3 참조)
        
        **호출 주체:** 데이팅 백엔드 (서버 간 통신)
        
        **상태 변경:**
        - `CREATED` → `ACTIVATED`: 사용자가 재화 차감하여 채팅방 활성화
        - `ACTIVATED` → `EXPIRED`: 만료 시간 경과 (배치 또는 수동)
        
        **활성화 시 처리:**
        - `activatedAt` 설정
        - `chatExpiresAt` = `activatedAt` + 30일

        **차단 이벤트 처리 (SRS 7.6.7):** 앱 백엔드가 사용자 차단을 감지하면 이 엔드포인트로 DATING_DM 상태를 `EXPIRED`로 변경 요청해 방을 강제 종료한다(차단은 별도 엔드포인트 없이 상태 변경 재사용, 감사 로그 `FORCE_LEAVE`).
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/RoomId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateRoomStatusRequest'
      responses:
        '200':
          description: 상태 변경 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatRoomDetailResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

    delete:
      tags: [Chat Rooms]
      summary: 채팅방 나가기
      description: |
        채팅방에서 나갑니다. (SRS 7.2.4 참조)
        
        **문토 채팅방:**
        - 사용자만 채팅방에서 제외
        - 다른 참여자는 계속 사용 가능
        
        **데이팅 DM:**
        - 채팅방 상태가 `LEFT`로 변경
        - 양쪽 모두 나가도 DB에 이력으로 남음
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/RoomId'
      responses:
        '200':
          description: 채팅방 나가기 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /rooms/{roomId}/participants:
    get:
      tags: [Chat Rooms]
      summary: 채팅방 참여자 목록 조회
      description: |
        채팅방에 참여한 모든 사용자 목록을 조회합니다. (SRS 7.2.5 참조)
        
        **참여자 정보:**
        - 사용자 ID, 닉네임, 프로필 사진
        - 역할 (HOST, MANAGER, MEMBER, ADMINISTRATOR)
        
        **정렬:** 역할 우선 (HOST > MANAGER > MEMBER), 참여 시간 순
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/RoomId'
      responses:
        '200':
          description: 참여자 목록 조회 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParticipantListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

    post:
      tags: [Chat Rooms]
      summary: 참여자 추가
      x-audience: backend   # 서버-투-서버 (모임 참여 시 백엔드가 호출)
      description: |
        채팅방에 참여자를 추가합니다. (SRS 7.2.1.1 참조)
        
        **호출 주체:** 문토 백엔드 (서버 간 통신)
        
        **사용 시점:**
        - 사용자가 소셜링/클럽/챌린지에 참여할 때
        - 문토 백엔드에서 모임 참여 처리 후 채팅 서버에 요청
        
        **자동 처리:**
        - Socket.IO Room에 자동 Join
        - 기존 참여자들에게 입장 알림 전송
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/RoomId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddParticipantRequest'
      responses:
        '201':
          description: 참여자 추가 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /rooms/{roomId}/participants/{userId}:
    delete:
      tags: [Chat Rooms]
      summary: 참여자 제거
      x-audience: backend   # 서버-투-서버 (모임 탈퇴/강퇴 시 백엔드가 호출)
      description: |
        채팅방에서 참여자를 제거합니다. (SRS 7.2.1.1 참조)
        
        **호출 주체:** 문토 백엔드 (서버 간 통신)
        
        **사용 시점:**
        - 사용자가 소셜링/클럽/챌린지에서 나갈 때
        - 호스트/매니저가 참여자를 강퇴할 때
        
        **자동 처리:**
        - Socket.IO Room에서 Leave
        - 남은 참여자들에게 퇴장 알림 전송
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/RoomId'
        - name: userId
          in: path
          required: true
          schema:
            type: integer
          description: 제거할 사용자 ID
      responses:
        '200':
          description: 참여자 제거 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /rooms/{roomId}/images:
    get:
      tags: [Chat Rooms]
      summary: 채팅방 사진 모아보기
      description: |
        채팅방에서 전송된 모든 이미지를 조회합니다. (SRS 7.2.6 참조)
        
        **특징:**
        - 모아보내기 메시지의 이미지도 개별 항목으로 펼침
        - 최신 이미지부터 내림차순 정렬
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/RoomId'
        - $ref: '#/components/parameters/CursorAfter'
        - $ref: '#/components/parameters/CursorBefore'
        - $ref: '#/components/parameters/Count'
      responses:
        '200':
          description: 이미지 목록 조회 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /rooms/unread-count:
    get:
      tags: [Chat Rooms]
      summary: 전체 안읽은 메시지 수 조회
      description: |
        사용자의 모든 채팅방에서 안읽은 메시지 총 개수를 조회합니다.
        
        **사용 시점:**
        - 앱 실행 시 뱃지 카운트 표시
        - 소켓 재연결 후 동기화
        
        **반환 값:**
        - 전체 안읽은 메시지 수
        - 채팅방별 안읽은 메시지 수 (선택)
      security:
        - BearerAuth: []
      responses:
        '200':
          description: 조회 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnreadCountResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'

  # ================================
  # 메시지 API
  # ================================
  /rooms/{roomId}/messages:
    get:
      tags: [Messages]
      summary: 메시지 목록 조회
      description: |
        채팅방의 메시지 목록을 조회합니다. (SRS 7.3 참조)
        
        **페이지네이션 (커서 기반, 정렬 SSOT = `messages.id`):**
        - **정렬 기준은 `messages.id` 오름차순(ASC)** 이 기본이며 SRS 7.3.5·ERD와 동일하다. (`sent_at`이 아니라 `id`가 SSOT)
        - 커서 = **마지막으로 가진 메시지의 `id`** (불투명 토큰 아님, 순수 id 기반).
        - `after={id}`: 그 id **이후(더 큰 id, 더 최신)** 메시지로 확장 (재연결 갭 채우기·신규 로드)
        - `before={id}`: 그 id **이전(더 작은 id, 더 과거)** 메시지로 확장 (위로 스크롤 과거 내역)
        - `order`: 응답 정렬 방향(`asc` 기본 / `desc`). 화면 표시(최신 상단/하단)에 맞춰 선택. 정렬 키는 항상 `id`.
        
        **메시지 타입:**
        - TEXT: 텍스트 메시지
        - IMAGE: 이미지 메시지 (배열)
        - SYSTEM: 시스템 메시지
        - CHALLENGE_CHECKIN: 챌린지 체크인 (향후)
        - FEED: 클럽 피드 (향후)
        - POLL: 클럽 투표 (향후)
        
        **참고:** 메시지 전송은 Socket.IO `send_message` 이벤트 사용
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/RoomId'
        - $ref: '#/components/parameters/CursorAfter'
        - $ref: '#/components/parameters/CursorBefore'
        - $ref: '#/components/parameters/Count'
        - name: order
          in: query
          required: false
          description: 응답 정렬 방향 (정렬 키는 항상 `messages.id`). 기본 asc(오름차순). 화면 표시에 맞춰 선택
          schema:
            type: string
            enum: [asc, desc]
            default: asc
      responses:
        '200':
          description: 메시지 목록 조회 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  # ================================
  # 공지사항 API
  # ================================
  /rooms/{roomId}/announcements:
    get:
      tags: [Announcements]
      summary: 공지 목록 조회
      description: |
        채팅방의 공지사항 목록을 조회합니다. (SRS 7.2.7 참조)
        
        **정렬:** 최신 공지부터 내림차순
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/RoomId'
        - $ref: '#/components/parameters/CursorAfter'
        - $ref: '#/components/parameters/CursorBefore'
        - $ref: '#/components/parameters/Count'
      responses:
        '200':
          description: 공지 목록 조회 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnnouncementListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /rooms/{roomId}/messages/{messageId}/announcement:
    post:
      tags: [Announcements]
      summary: 공지 설정
      description: |
        메시지를 공지로 설정합니다. (SRS 7.3.5 참조)
        
        **권한:** HOST, MANAGER만 가능
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/RoomId'
        - $ref: '#/components/parameters/MessageId'
      responses:
        '200':
          description: 공지 설정 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

    delete:
      tags: [Announcements]
      summary: 공지 해제
      description: |
        메시지의 공지 설정을 해제합니다. (SRS 7.3.5 참조)
        
        **권한:** HOST, MANAGER만 가능
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/RoomId'
        - $ref: '#/components/parameters/MessageId'
      responses:
        '200':
          description: 공지 해제 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  # ================================
  # 푸시 알림 설정 API
  # ================================
  /notifications:
    get:
      tags: [Notifications]
      summary: 채팅 알림 설정 조회 (전역)
      description: |
        사용자의 채팅 알림 설정(전역, 모든 채팅방 공통)을 조회합니다. (SRS 7.5.2 참조)
        
        **설정 항목:**
        - 채팅 알림 켜기/끄기
        
        전체 알림(앱 마스터)·기기 알림 권한은 채팅 서버가 관리하지 않습니다(기기/앱 레벨, SRS 7.5.2).
      security:
        - BearerAuth: []
      responses:
        '200':
          description: 전역 알림 설정 조회 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalNotificationSettingResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'

    patch:
      tags: [Notifications]
      summary: 채팅 알림 설정 변경 (전역)
      description: |
        사용자의 채팅 알림 설정(전역)을 변경합니다. (SRS 7.5.2 참조)
        
        **설정 변경 시 즉시 적용됩니다.**
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateGlobalNotificationRequest'
      responses:
        '200':
          description: 전역 알림 설정 변경 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalNotificationSettingResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /rooms/{roomId}/notifications:
    get:
      tags: [Notifications]
      summary: 채팅방 알림 설정 조회
      description: |
        채팅방별 알림 설정을 조회합니다. (SRS 7.5.3 참조)
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/RoomId'
      responses:
        '200':
          description: 알림 설정 조회 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoomNotificationSettingResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

    patch:
      tags: [Notifications]
      summary: 채팅방 알림 설정 변경
      description: |
        채팅방별 알림 설정을 변경합니다. (SRS 7.5.3 참조)
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/RoomId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateRoomNotificationRequest'
      responses:
        '200':
          description: 알림 설정 변경 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoomNotificationSettingResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  # ================================
  # 안전 기능 (신고·차단은 채팅 서버 API 아님)
  # ================================
  # 신고(report)·차단(block) 모두 채팅 서버 API가 아니다.
  #  - 신고: 클라이언트가 각 앱 백엔드(데이팅 safety / 문토 report) 신고 API를 직접 호출.
  #          자동 신고(외부 링크 등)는 채팅 서버가 앱 백엔드로 S2S 전달. (SRS 7.6.6)
  #  - 차단: 매칭·프로필·소셜링 등 앱 전역에 영향 → 차단 SOT는 각 앱 백엔드. 클라이언트가
  #          앱 백엔드 차단 API를 직접 호출하고, 채팅 강제는 이벤트 기반(앱 백엔드 → 채팅 서버
  #          S2S로 해당 DM 방 종료/강제 퇴장; 신규 DM 생성은 앱 백엔드가 차단 확인 후 요청). (SRS 7.6.7)
  # 채팅 서버의 방 종료/강제 퇴장은 기존 방 상태 변경 API(PATCH /rooms/{roomId}, x-audience: backend →
  # DATING_DM은 EXPIRED 처리)를 재사용한다. 별도 차단 전용 엔드포인트는 두지 않는다.

  # ================================
  # 이미지 업로드 API
  # ================================
  /upload/presigned-url:
    post:
      tags: [Upload]
      summary: 이미지 업로드 Presigned URL 발급
      description: |
        S3 이미지 업로드를 위한 Presigned URL을 발급합니다. (SRS 7.3.2 참조)
        
        **업로드 제한:**
        - 이미지당 최대 10MB
        - 한 번에 최대 10개 URL 발급 가능
        - 지원 형식: JPEG, PNG, GIF, WebP

        **참고:** 부적절한 이미지 자동 감지(모더레이션)는 **V1 미포함**이다 (SRS 7.6.5 TBD — 필요 시 별도 기획 후 도입).
        
        **업로드 흐름:**
        1. 이 API로 Presigned URL 발급
        2. 클라이언트에서 S3에 직접 업로드
        3. 업로드 완료 후 Socket.IO로 메시지 전송
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PresignedUrlRequest'
      responses:
        '200':
          description: Presigned URL 발급 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PresignedUrlResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'

  # ================================
  # 관리자 API (백오피스)
  # ================================
  /admin/rooms:
    get:
      tags: [Admin]
      summary: 채팅방 목록 조회 (관리자)
      description: |
        모든 채팅방 목록을 조회합니다. (SRS 7.8 참조)
        
        **필터:**
        - roomType: 채팅방 유형
        - roomStatus: 채팅방 상태 (데이팅 DM)
        - createdAfter/createdBefore: 생성일 범위
      security:
        - AdminAuth: []
      parameters:
        - name: roomType
          in: query
          schema:
            $ref: '#/components/schemas/ChatRoomType'
          description: 채팅방 유형 필터
        - name: roomStatus
          in: query
          schema:
            type: string
            enum: [CREATED, ACTIVATED, EXPIRED, LEFT]
          description: 채팅방 상태 필터 (데이팅 DM)
        - name: createdAfter
          in: query
          schema:
            type: integer
            format: int64
          description: 생성일 시작 (Unix time ms)
        - name: createdBefore
          in: query
          schema:
            type: integer
            format: int64
          description: 생성일 종료 (Unix time ms)
        - $ref: '#/components/parameters/CursorAfter'
        - $ref: '#/components/parameters/CursorBefore'
        - $ref: '#/components/parameters/Count'
      responses:
        '200':
          description: 채팅방 목록 조회 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminRoomListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /admin/rooms/{roomId}:
    get:
      tags: [Admin]
      summary: 채팅방 상세 조회 (관리자)
      description: |
        채팅방 상세 정보를 조회합니다. (SRS 7.8 참조)
        
        **포함 정보:**
        - 채팅방 기본 정보
        - 참여자 목록
        - 통계 (메시지 수, 활성 사용자 등)
      security:
        - AdminAuth: []
      parameters:
        - $ref: '#/components/parameters/RoomId'
      responses:
        '200':
          description: 채팅방 상세 조회 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminRoomDetailResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /admin/rooms/{roomId}/messages:
    get:
      tags: [Admin]
      summary: 채팅방 메시지 조회 (관리자)
      description: |
        채팅방의 메시지를 조회합니다. (SRS 7.8 참조)
        
        **특징:**
        - 블라인드 처리된 메시지도 원문 조회 가능
        - 삭제된 메시지도 조회 가능
      security:
        - AdminAuth: []
      parameters:
        - $ref: '#/components/parameters/RoomId'
        - $ref: '#/components/parameters/CursorAfter'
        - $ref: '#/components/parameters/CursorBefore'
        - $ref: '#/components/parameters/Count'
      responses:
        '200':
          description: 메시지 조회 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminMessageListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /admin/rooms/{roomId}/messages/{messageId}:
    patch:
      tags: [Admin]
      summary: 메시지 블라인드 처리 (관리자)
      description: |
        메시지를 블라인드 처리합니다. (SRS 7.8.6 참조)
        
        **블라인드 처리:**
        - 원본 내용은 `original_content`에 보존
        - 사용자에게는 블라인드 처리된 메시지로 표시
        - 블라인드 해제도 동일 엔드포인트 사용 (`isBlinded: false`)
        
        **권한:** 백오피스 관리자만 가능
      security:
        - AdminAuth: []
      parameters:
        - $ref: '#/components/parameters/RoomId'
        - $ref: '#/components/parameters/MessageId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminUpdateMessageRequest'
      responses:
        '200':
          description: 메시지 처리 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

    delete:
      tags: [Admin]
      summary: 메시지 삭제 (관리자)
      description: |
        메시지를 삭제합니다. (SRS 7.8.6 참조)
        
        **삭제 효과:**
        - 삭제된 메시지는 모든 사용자에게서 제거
        - 삭제 이력 기록 (관리자 ID, 삭제 시간, 삭제 사유)
        
        **권한:** 백오피스 관리자만 가능
      security:
        - AdminAuth: []
      parameters:
        - $ref: '#/components/parameters/RoomId'
        - $ref: '#/components/parameters/MessageId'
        - name: reason
          in: query
          required: true
          schema:
            type: string
            maxLength: 500
          description: 삭제 사유
      responses:
        '200':
          description: 메시지 삭제 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /admin/messages:
    get:
      tags: [Admin]
      summary: 메시지 검색 (관리자) [V2+]
      description: |
        조건에 맞는 메시지를 검색합니다. (SRS 7.8.7 참조)
        
        **검색 조건:**
        - `senderId`: 발신자 사용자 ID
        - `roomId`: 채팅방 ID
        - `keyword`: 메시지 내용 키워드 (한글 부분 일치 지원, pg_bigm)
        - `sentAfter` / `sentBefore`: 기간 (최대 90일 범위)
        - `hasExternalContact`: 전화번호/SNS ID 등 외부 연락처 패턴 포함 여부
        
        **참고:**
        - 검색 수행 시 감사 로그 자동 기록
        - 결과는 JSON 형식으로 다운로드 가능 (`Accept: application/json`)
        
        **권한:** 백오피스 관리자만 가능
      security:
        - AdminAuth: []
      parameters:
        - name: senderId
          in: query
          schema:
            type: integer
          description: 발신자 사용자 ID
        - name: roomId
          in: query
          schema:
            type: integer
          description: 채팅방 ID
        - name: keyword
          in: query
          schema:
            type: string
          description: 메시지 내용 키워드 (한글 부분 일치)
        - name: sentAfter
          in: query
          schema:
            type: integer
            format: int64
          description: 검색 시작 시간 (Unix time ms)
        - name: sentBefore
          in: query
          schema:
            type: integer
            format: int64
          description: 검색 종료 시간 (Unix time ms, sentAfter로부터 최대 90일)
        - name: hasExternalContact
          in: query
          schema:
            type: boolean
          description: 전화번호/SNS ID 등 외부 연락처 패턴 포함 여부 필터
        - $ref: '#/components/parameters/CursorAfter'
        - $ref: '#/components/parameters/CursorBefore'
        - name: count
          in: query
          schema:
            type: integer
            default: 50
            minimum: 1
            maximum: 100
          description: 한 페이지당 항목 수 (기본 50건)
      responses:
        '200':
          description: 메시지 검색 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminMessageSearchResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'

  # /admin/reports 제거 — 신고 접수·조회·처리는 각 앱 백오피스(데이팅 safety / 문토 report)에서 수행 (SRS 7.6.6)
  /admin/profanity:
    get:
      tags: [Admin]
      summary: 금칙어 목록 조회 [V2+]
      description: |
        금칙어 목록을 조회합니다. (SRS 7.8.5 참조)
      security:
        - AdminAuth: []
      parameters:
        - $ref: '#/components/parameters/CursorAfter'
        - $ref: '#/components/parameters/CursorBefore'
        - $ref: '#/components/parameters/Count'
      responses:
        '200':
          description: 금칙어 목록 조회 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfanityListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'

    post:
      tags: [Admin]
      summary: 금칙어 추가 [V2+]
      description: |
        금칙어를 추가합니다. (SRS 7.8.5 참조)
      security:
        - AdminAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProfanityRequest'
      responses:
        '201':
          description: 금칙어 추가 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfanityResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /admin/profanity/{profanityId}:
    patch:
      tags: [Admin]
      summary: 금칙어 수정 [V2+]
      description: |
        금칙어를 수정합니다. (SRS 7.8.5 참조)
      security:
        - AdminAuth: []
      parameters:
        - name: profanityId
          in: path
          required: true
          schema:
            type: integer
          description: 금칙어 ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProfanityRequest'
      responses:
        '200':
          description: 금칙어 수정 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfanityResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

    delete:
      tags: [Admin]
      summary: 금칙어 삭제 [V2+]
      description: |
        금칙어를 삭제합니다. (SRS 7.8.5 참조)
      security:
        - AdminAuth: []
      parameters:
        - name: profanityId
          in: path
          required: true
          schema:
            type: integer
          description: 금칙어 ID
      responses:
        '200':
          description: 금칙어 삭제 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

# ================================
# Components
# ================================
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: munto-backend에서 발급받은 통합 JWT 토큰 (`userId`=muntoUserId 커스텀 클레임, 표준 sub 아님 — WEBB-1196)
    AdminAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        관리자(백오피스) 전용. JWT에 `UserGrade.ADMIN` 권한이 있어야 한다(SRS 7.8.1).
        `/admin/*` 엔드포인트는 이 스킴을 사용하며, 권한 미달 시 403을 반환한다.

  parameters:
    RoomId:
      name: roomId
      in: path
      required: true
      schema:
        type: integer
      description: 채팅방 ID

    MessageId:
      name: messageId
      in: path
      required: true
      schema:
        type: integer
        format: int64
      description: 메시지 ID (messages.id = BIGSERIAL). JSON number로 전송 — 실 ID가 JS 안전정수(2^53) 이하라 안전, 근접 시 string 전환(SRS 7.3.5)

    CursorAfter:
      name: after
      in: query
      schema:
        type: integer
        format: int64
      description: 커서 페이지네이션 — 이 메시지 `id` **이후(더 큰 id, 더 최신)** 부터 반환. 커서는 `messages.id`(BIGINT) 순수 id 기반(불투명 토큰 아님)

    CursorBefore:
      name: before
      in: query
      schema:
        type: integer
        format: int64
      description: 커서 페이지네이션 — 이 메시지 `id` **이전(더 작은 id, 더 과거)** 부터 반환. 커서는 `messages.id`(BIGINT) 순수 id 기반

    Count:
      name: count
      in: query
      schema:
        type: integer
        default: 50
        minimum: 1
        maximum: 100
      description: 한 페이지당 항목 수 (기본 50건)

  responses:
    BadRequest:
      description: 잘못된 요청
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    Unauthorized:
      description: 인증 실패
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    Forbidden:
      description: 권한 없음
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    NotFound:
      description: 리소스 없음
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    InternalServerError:
      description: 서버 오류
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

  schemas:
    # ================================
    # 공통 스키마
    # ================================
    SuccessResponse:
      type: object
      required: [success, message]
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
          example: "요청이 성공적으로 처리되었습니다."

    ErrorResponse:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [code, message]
          properties:
            code:
              type: string
              example: "UNAUTHORIZED"
            message:
              type: string
              example: "인증이 필요합니다."

    PaginationMeta:
      type: object
      properties:
        hasNext:
          type: boolean
          description: 다음 페이지 존재 여부
        hasPrevious:
          type: boolean
          description: 이전 페이지 존재 여부
        nextCursor:
          type: string
          nullable: true
          description: 다음 페이지 커서
        previousCursor:
          type: string
          nullable: true
          description: 이전 페이지 커서

    # ================================
    # 사용자 스키마
    # ================================
    UserSummary:
      type: object
      required: [userId, nickname]
      properties:
        userId:
          type: integer
          example: 123
        nickname:
          type: string
          example: "문토유저"
        profilePhotoUrl:
          type: string
          nullable: true
          example: "https://s3.../profile.jpg"

    Participant:
      allOf:
        - $ref: '#/components/schemas/UserSummary'
        - type: object
          required: [role, joinedAt]
          properties:
            role:
              type: string
              enum: [HOST, MANAGER, MEMBER, ADMINISTRATOR]
              description: 참여자 역할
            joinedAt:
              type: integer
              format: int64
              description: 참여 시간 (Unix time ms)
              example: 1704067200000

    # ================================
    # 채팅방 스키마
    # ================================
    ChatRoomSummary:
      type: object
      required: [roomId, roomType, name, unreadCount]
      properties:
        roomId:
          type: integer
          example: 1
        roomType:
          $ref: '#/components/schemas/ChatRoomType'
        name:
          type: string
          example: "1월 북클럽 모임"
        thumbnailUrl:
          type: string
          nullable: true
        unreadCount:
          type: integer
          example: 3
        lastMessage:
          $ref: '#/components/schemas/LastMessage'
        # 그룹 채팅방 (모임)
        moimType:
          allOf:
            - $ref: '#/components/schemas/MoimType'
          nullable: true
        moimId:
          type: integer
          nullable: true
        # DM 채팅방
        otherUser:
          $ref: '#/components/schemas/UserSummary'
        # 데이팅 DM
        matchId:
          type: integer
          nullable: true
        roomStatus:
          type: string
          enum: [CREATED, ACTIVATED, EXPIRED, LEFT]
          nullable: true
        chatExpiresAt:
          type: integer
          format: int64
          nullable: true
          description: 채팅 만료 시간 (Unix time ms)

    LastMessage:
      type: object
      nullable: true
      properties:
        content:
          type: string
          example: "안녕하세요!"
          description: 메시지 내용 (이미지면 "사진")
        type:
          $ref: '#/components/schemas/MessageType'   # 그룹/특수 메시지가 마지막 메시지일 수 있음
        sentAt:
          type: integer
          format: int64
          description: 전송 시간 (Unix time ms)
        sender:
          $ref: '#/components/schemas/UserSummary'

    ChatRoomListResponse:
      type: object
      required: [rooms, meta]
      properties:
        rooms:
          type: array
          items:
            $ref: '#/components/schemas/ChatRoomSummary'
        meta:
          $ref: '#/components/schemas/PaginationMeta'

    ChatRoomDetailResponse:
      type: object
      required: [roomId, roomType, name, participantCount, createdAt]
      properties:
        roomId:
          type: integer
        roomType:
          $ref: '#/components/schemas/ChatRoomType'
        name:
          type: string
        participantCount:
          type: integer
        createdAt:
          type: integer
          format: int64
          description: 생성 시간 (Unix time ms)
        lastMessage:
          $ref: '#/components/schemas/LastMessage'
        # 그룹 채팅방 (모임)
        moimType:
          allOf:
            - $ref: '#/components/schemas/MoimType'
          nullable: true
        moimId:
          type: integer
          nullable: true
        # DM 채팅방
        otherUser:
          $ref: '#/components/schemas/UserSummary'
        # 데이팅 DM
        matchId:
          type: integer
          nullable: true
        roomStatus:
          type: string
          enum: [CREATED, ACTIVATED, EXPIRED, LEFT]
          nullable: true
        activatedAt:
          type: integer
          format: int64
          nullable: true
          description: 활성화 시간 (Unix time ms)
        chatExpiresAt:
          type: integer
          format: int64
          nullable: true
          description: 채팅 만료 시간 (Unix time ms)
        remainingDays:
          type: integer
          nullable: true
          description: 만료까지 남은 일수

    ParticipantListResponse:
      type: object
      required: [participants]
      properties:
        participants:
          type: array
          items:
            $ref: '#/components/schemas/Participant'

    # ================================
    # 메시지 스키마
    # ================================
    MessageType:
      type: string
      enum: [TEXT, IMAGE, SYSTEM, CHALLENGE_CHECKIN, FEED, POLL]
      description: 메시지 타입 (전 메시지 스키마 공통 — Message/LastMessage/AdminMessage가 $ref로 공유)

    ChatRoomType:
      type: string
      enum: [GROUP, DM, DATING_DM]
      description: 채팅방 타입 (공통 — $ref로 공유)

    MoimType:
      type: string
      enum: [SOCIALING, CLUB, CHALLENGE]
      description: 그룹 채팅방 모임 종류 (GROUP 전용, 공통 — $ref로 공유). nullable이 필요한 곳은 allOf+nullable로 래핑

    Message:
      type: object
      required: [id, roomId, type, content, sender, sentAt, isAnnouncement, isBlinded]
      properties:
        id:
          type: integer
          format: int64    # messages.id = BIGSERIAL (BIGINT)
        roomId:
          type: integer
        type:
          $ref: '#/components/schemas/MessageType'
        content:
          oneOf:
            - type: string
            - type: array
              items:
                type: string
            - type: object
          description: |
            메시지 내용
            - TEXT: 문자열
            - IMAGE: URL 배열
            - SYSTEM: 객체
            - CHALLENGE_CHECKIN/FEED/POLL: 객체
        sender:
          $ref: '#/components/schemas/UserSummary'
        sentAt:
          type: integer
          format: int64
          description: 전송 시간 (Unix time ms)
        isAnnouncement:
          type: boolean
        isBlinded:
          type: boolean
        unreadCount:
          type: integer
          description: 이 메시지를 안 읽은 사람 수

    MessageListResponse:
      type: object
      required: [messages, meta]
      properties:
        messages:
          type: array
          items:
            $ref: '#/components/schemas/Message'
        meta:
          $ref: '#/components/schemas/PaginationMeta'

    # ================================
    # 이미지 스키마
    # ================================
    ImageItem:
      type: object
      required: [imageUrl, messageId, sentAt, sender]
      properties:
        imageUrl:
          type: string
          description: 이미지 URL
        thumbnailUrl:
          type: string
          description: 썸네일 URL
        messageId:
          type: integer
          description: 원본 메시지 ID
        sentAt:
          type: integer
          format: int64
          description: 전송 시간 (Unix time ms)
        sender:
          $ref: '#/components/schemas/UserSummary'

    ImageListResponse:
      type: object
      required: [images, meta]
      properties:
        images:
          type: array
          items:
            $ref: '#/components/schemas/ImageItem'
        meta:
          $ref: '#/components/schemas/PaginationMeta'

    # ================================
    # 공지사항 스키마
    # ================================
    Announcement:
      type: object
      required: [messageId, content, type, setBy, setAt]
      properties:
        messageId:
          type: integer
        content:
          oneOf:
            - type: string
            - type: array
              items:
                type: string
        type:
          type: string
          enum: [TEXT, IMAGE]
        setBy:
          $ref: '#/components/schemas/UserSummary'
        setAt:
          type: integer
          format: int64
          description: 공지 설정 시간 (Unix time ms)

    AnnouncementListResponse:
      type: object
      required: [announcements, meta]
      properties:
        announcements:
          type: array
          items:
            $ref: '#/components/schemas/Announcement'
        meta:
          $ref: '#/components/schemas/PaginationMeta'

    # ================================
    # 알림 설정 스키마
    # ================================
    GlobalNotificationSettingResponse:
      type: object
      required: [chatNotificationsEnabled]
      properties:
        chatNotificationsEnabled:
          type: boolean
          description: 채팅 알림 켜기/끄기 (전역, 모든 채팅방 공통). 전체 알림(앱 마스터)은 채팅 서버가 관리하지 않음

    UpdateGlobalNotificationRequest:
      type: object
      properties:
        chatNotificationsEnabled:
          type: boolean
          description: 채팅 알림 켜기/끄기 (전역)

    RoomNotificationSettingResponse:
      type: object
      required: [roomId, enabled]
      properties:
        roomId:
          type: integer
        enabled:
          type: boolean
          description: 알림 켜기/끄기

    UpdateRoomNotificationRequest:
      type: object
      required: [enabled]
      properties:
        enabled:
          type: boolean
          description: 알림 켜기/끄기

    # ================================
    # 업로드 스키마
    # ================================
    PresignedUrlRequest:
      type: object
      required: [files]
      properties:
        files:
          type: array
          items:
            type: object
            required: [filename, contentType]
            properties:
              filename:
                type: string
                example: "image1.jpg"
              contentType:
                type: string
                enum: [image/jpeg, image/png, image/gif, image/webp, image/heic]
          minItems: 1
          maxItems: 10
          description: 업로드할 파일 정보 (최대 10개)

    PresignedUrlResponse:
      type: object
      required: [urls]
      properties:
        urls:
          type: array
          items:
            type: object
            required: [uploadUrl, imageUrl]
            properties:
              uploadUrl:
                type: string
                description: S3 업로드용 Presigned URL
              imageUrl:
                type: string
                description: 업로드 완료 후 접근 가능한 이미지 URL

    # ================================
    # 관리자 스키마
    # ================================
    # ================================
    # 금칙어 스키마
    # ================================
    Profanity:
      type: object
      required: [id, word, matchType, caseSensitive]
      properties:
        id:
          type: integer
        word:
          type: string
        matchType:
          type: string
          enum: [PARTIAL, EXACT]
          description: 일치 타입 (부분/완전)
        caseSensitive:
          type: boolean
          description: 대소문자 구분

    ProfanityListResponse:
      type: object
      required: [profanities, meta]
      properties:
        profanities:
          type: array
          items:
            $ref: '#/components/schemas/Profanity'
        meta:
          $ref: '#/components/schemas/PaginationMeta'

    CreateProfanityRequest:
      type: object
      required: [word]
      properties:
        word:
          type: string
          maxLength: 255
        matchType:
          type: string
          enum: [PARTIAL, EXACT]
          default: PARTIAL
        caseSensitive:
          type: boolean
          default: false

    UpdateProfanityRequest:
      type: object
      properties:
        word:
          type: string
          maxLength: 255
        matchType:
          type: string
          enum: [PARTIAL, EXACT]
        caseSensitive:
          type: boolean

    ProfanityResponse:
      $ref: '#/components/schemas/Profanity'

    # ================================
    # 채팅방 생성/관리 스키마
    # ================================
    CreateRoomRequest:
      type: object
      required: [roomType, participants]
      description: |
        채팅방 생성 요청. **멱등성 보장**(SRS 7.2.1.4) — 동일 조건 재요청 시 신규 생성 없이 기존 방 반환(201 신규 / 200 기존).
        멱등성 키:
        - DM: 정렬한 `(userId1, userId2)` 사용자 조합
        - 그룹: `(moimType, moimId)`
        - 데이팅 DM: `matchId`
      properties:
        roomType:
          $ref: '#/components/schemas/ChatRoomType'
        name:
          type: string
          maxLength: 100
          description: 채팅방 이름 (그룹 채팅방 필수)
        participants:
          type: array
          items:
            type: object
            required: [userId]
            properties:
              userId:
                type: integer
              role:
                type: string
                enum: [HOST, MANAGER, MEMBER]
                default: MEMBER
          minItems: 1
          description: 초기 참여자 목록
        # 그룹 채팅방 (모임). GROUP이면 moimType+moimId 필수
        moimType:
          allOf:
            - $ref: '#/components/schemas/MoimType'
          nullable: true
          description: 모임 종류 (그룹 채팅방). SOCIALING / CLUB / CHALLENGE
        moimId:
          type: integer
          nullable: true
          description: 모임 ID (그룹 채팅방, 외부 참조)
        # 데이팅 DM
        matchId:
          type: integer
          nullable: true
          description: 매칭 ID (데이팅 DM)
        chatExpiresAt:
          type: integer
          format: int64
          nullable: true
          description: 채팅 만료 시간 (데이팅 DM, Unix time ms)

    CreateRoomResponse:
      type: object
      required: [roomId, roomType, createdAt]
      properties:
        roomId:
          type: integer
          description: 채팅방 ID
        roomType:
          $ref: '#/components/schemas/ChatRoomType'
        name:
          type: string
        participantCount:
          type: integer
        createdAt:
          type: integer
          format: int64
          description: 생성 시간 (Unix time ms)
        roomStatus:
          type: string
          enum: [CREATED, ACTIVATED]
          nullable: true
          description: 채팅방 상태 (데이팅 DM)

    AddParticipantRequest:
      type: object
      required: [userId]
      properties:
        userId:
          type: integer
          description: 추가할 사용자 ID
        role:
          type: string
          enum: [HOST, MANAGER, MEMBER]
          default: MEMBER
          description: 참여자 역할

    UpdateRoomStatusRequest:
      type: object
      required: [status]
      properties:
        status:
          type: string
          enum: [ACTIVATED, EXPIRED]
          description: 변경할 상태

    UnreadCountResponse:
      type: object
      required: [totalUnreadCount]
      properties:
        totalUnreadCount:
          type: integer
          description: 전체 안읽은 메시지 수
        rooms:
          type: array
          items:
            type: object
            properties:
              roomId:
                type: integer
              unreadCount:
                type: integer
          description: 채팅방별 안읽은 메시지 수 (선택)

    # ================================
    # 관리자 채팅 조회 스키마
    # ================================
    AdminRoomListResponse:
      type: object
      required: [rooms, meta]
      properties:
        rooms:
          type: array
          items:
            $ref: '#/components/schemas/AdminRoomSummary'
        meta:
          $ref: '#/components/schemas/PaginationMeta'

    AdminRoomSummary:
      type: object
      required: [roomId, roomType, participantCount, messageCount, createdAt]
      properties:
        roomId:
          type: integer
        roomType:
          $ref: '#/components/schemas/ChatRoomType'
        name:
          type: string
          nullable: true
        participantCount:
          type: integer
        messageCount:
          type: integer
          description: 총 메시지 수
        roomStatus:
          type: string
          enum: [CREATED, ACTIVATED, EXPIRED, LEFT]
          nullable: true
        createdAt:
          type: integer
          format: int64

    AdminRoomDetailResponse:
      allOf:
        - $ref: '#/components/schemas/AdminRoomSummary'
        - type: object
          properties:
            participants:
              type: array
              items:
                $ref: '#/components/schemas/Participant'
            lastMessageAt:
              type: integer
              format: int64
              nullable: true
            # 그룹 채팅방 (모임)
            moimType:
              allOf:
                - $ref: '#/components/schemas/MoimType'
              nullable: true
            moimId:
              type: integer
              nullable: true
            # 데이팅 DM
            matchId:
              type: integer
              nullable: true
            activatedAt:
              type: integer
              format: int64
              nullable: true
            chatExpiresAt:
              type: integer
              format: int64
              nullable: true

    AdminMessageListResponse:
      type: object
      required: [messages, meta]
      properties:
        messages:
          type: array
          items:
            $ref: '#/components/schemas/AdminMessage'
        meta:
          $ref: '#/components/schemas/PaginationMeta'

    AdminMessage:
      allOf:
        - $ref: '#/components/schemas/Message'
        - type: object
          properties:
            originalContent:
              oneOf:
                - type: string
                - type: array
                  items:
                    type: string
              description: 블라인드 처리 전 원본 내용
            blindedAt:
              type: integer
              format: int64
              nullable: true
              description: 블라인드 처리 시간
            blindReason:
              type: string
              nullable: true
              description: 블라인드 사유

    AdminUpdateMessageRequest:
      type: object
      required: [isBlinded]
      properties:
        isBlinded:
          type: boolean
          description: 블라인드 처리 여부(true -> 블라인드, false -> 블라인드 해제)
        blindReason:
          type: string
          maxLength: 255
          description: 블라인드 사유 (isBlinded가 true일 때 권장)

    AdminMessageSearchResponse:
      type: object
      required: [messages, meta]
      properties:
        messages:
          type: array
          items:
            $ref: '#/components/schemas/AdminMessageSearchItem'
        meta:
          $ref: '#/components/schemas/PaginationMeta'

    AdminMessageSearchItem:
      type: object
      required: [id, roomId, type, content, sender, sentAt, isBlinded]
      properties:
        id:
          type: integer
          description: 메시지 ID
        roomId:
          type: integer
          description: 채팅방 ID
        type:
          $ref: '#/components/schemas/MessageType'
        content:
          oneOf:
            - type: string
            - type: array
              items:
                type: string
            - type: object
          description: 메시지 내용
        sender:
          $ref: '#/components/schemas/UserSummary'
        sentAt:
          type: integer
          format: int64
          description: 전송 시간 (Unix time ms)
        isBlinded:
          type: boolean
        originalContent:
          oneOf:
            - type: string
            - type: array
              items:
                type: string
          nullable: true
          description: 블라인드 처리 전 원본 내용 (블라인드된 경우)